*{
  margin:0;
}

.app__header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom:20px;
   
}

.app__left{
  flex:.9;
}

.app__stats{
  display:flex;
  justify-content: space-between;
}

body{
  background-color:#f5f6fa; 
}

.App{
  display:flex;
  justify-content: space-evenly;
  padding:30px;
}


@media (max-width:990px){
  .App{
    flex-direction: column;
  }
}